<div class="dropdowns">
  <app-dropdown [inputLabel]="'Regions'" [options]="regions" (selectedValue)="regionChange($event)"></app-dropdown>
  <app-dropdown [inputLabel]="'Countries'" [options]="countryList" (selectedValue)="countryChange($event)"></app-dropdown>
</div>
<div *ngIf="!!displayedCountry">
  <table class='country-table'>
    <tr class='table-heading'>
      <td>Name</td>
      <td>Capital</td>
      <td>Population</td>
      <td>Currency</td>
      <td>Flag</td>
    </tr>
    <tr class='table-data'>
      <td>{{displayedCountry[0].name}}</td>
      <td>{{displayedCountry[0].capital}}</td>
      <td>{{displayedCountry[0].population}}</td>
      <td>{{displayedCountry[0].currencies[0].name}} - {{displayedCountry[0].currencies[0].symbol}}</td>
      <td><img src={{displayedCountry[0].flag}} class="flag"></td>
    </tr>
  </table>
</div>
